<div class="layout-box">
  <div class="top-bar">
    <h1 class="title title-white" routerLink="/">NG Notes</h1>

    <div class="icon-container">
      <div
        class="icon edit title-white"
        routerLink="/edit"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faWrench"></fa-icon>
      </div>
      <div
        class="icon new title-white"
        routerLink="/new"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faFileMedical"></fa-icon>
      </div>
    </div>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="notes-footer">
    <p>
      © 2020, by
      <a
        href="https://milos.netlify.com/"
        target="_blank"
        rel="noopener noreferrer"
        >@milos_dev</a
      >
    </p>
  </footer>
</div>
