@import "./src/styles.pallete.scss";

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
  @media (max-width: 500px){
    padding-left: 1em;
    padding-right: 1em;
  }
}

input.is-danger {
  box-shadow: 0 0 3px red;
}
