.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  max-width: calc(500px - 25px);
  @media (max-width: 500px){
    padding-left: 1em;
    padding-right: 1em;
  }
}

.notes-list {
  padding-top: 25px;
}

app-note-card {
  display: block;
  margin-bottom: 25px;
}
