<div class="main-container">
  <div class="search-bar-container">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="txt" placeholder="Search" />
      <span class="icon is-small is-left">
        <i class="fas fa-bomb"></i>
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card [title]="'Op'" [body]="'opaaa'"></app-note-card>
    <app-note-card
      [title]="'Opalaa'"
      [body]="
        'als d;fjak sdfjalkfjas dklfjaopaaa Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, optio eligendi! Quisquam voluptatem tempore dolore impedit sapiente excepturi doloremque aliquam repellendus! Explicabo ab placeat inventore vel quo, odit magni perferendis.'
      "
    ></app-note-card>
  </div>
</div>
