/* You can add global styles to this file, and also import other style files */
@import "./src/styles.pallete.scss";
@import "../node_modules/bulma/bulma.sass";

/* GLOBAL STYLES */

html,
body {
  height: 100%;

  // default font size
  font-size: 18px !important;
  overflow: hidden !important;
}
